<form [formGroup]="newCourseForm" (ngSubmit)="onSubmit()">
  <div>
      <label>
        Name
        <input class="form-control" type="text" formControlName="name" placeholder="Enter title">
        </label>
  </div>
    
  <div>
    <label>
      Description
      <input class='form-control' type="text" formControlName="description" placeholder="Enter description">
    </label>
  </div>
    
  <div>
    <label>
      Date
      <input class='form-control' type="date" formControlName="date" placeholder="Enter date">
    </label>
  </div>
  
  <div>
    <label>
      Length
      <input class="form-control" type="number" formControlName="length" placeholder="Enter length">
    </label>
  </div> 
  <!-- <label>
      Authors
      <input type="" formControlName="" placeholder="Authors">
    </label> -->

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" (click)='cancel();'class="btn btn-primary">Cancel</button>
</form>

    
 

  
