
<div class="courseItem container alert " role="alert" appCourseBorder creationDate= "courseItem.creation_date"[ngClass] ="{'topRate':courseItem.top_rated}">
  <div class="row">
    <div class="title col-lg-7">{{courseItem?.title|uppercase}}<span [ngClass] ="{'glyphicon glyphicon-star':courseItem.top_rated}"></span></div>
    <div class="duration col-lg-2">{{courseItem?.duration | duration}}</div>
    <div class="creation col-lg-2">{{courseItem?.creation_date| date : "MM.dd.yyyy"}}</div>
    <div class="col-lg-1"><button type="button" class="btn btn-block btn-primary"> Edit </button></div>
  </div>
  <div class="row">
    <div class="col-lg-11">
      <p class="description">{{courseItem?.description}}</p>
    </div>
    <div class="col-lg-1">
        <button type="button" (click) = 'delete($event)' class="btn btn-block btn-danger delete"> Delete </button>
    </div>
  </div>
</div>