<form [formGroup]="editCourseForm" (ngSubmit)="onSubmit()">
    <input class="form-control" type="hidden" value="{{changeItem?.id}}" formControlName="name" placeholder="Enter title">
    <div>
        <label>
          Name
          <input class="form-control" type="text" value="{{changeItem?.name}}" formControlName="name" placeholder="Enter title">
          </label>
    </div>
      
    <div>
      <label>
        Description
        <input class='form-control' type="text" value="{{changeItem?.description}}" formControlName="description" placeholder="Enter description">
      </label>
    </div>
      
    <div>
      <label>
        Date
        <input class='form-control' type="date" value="{{changeItem?.date}}" formControlName="date" placeholder="Enter date">
      </label>
    </div>
    
    <div>
      <label>
        Length
        <input class="form-control" type="number" value="{{changeItem?.length}}" formControlName="length" placeholder="Enter length">
      </label>
    </div> 
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="reset" (click)='cancel();'class="btn btn-primary">Cancel</button>
  </form>
  
      
   
  
    
  
